{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receta</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos2.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body id="body">

    <header id="header" class="header_standard">
        <div class="icon__menu">
            <img src="{% static 'images/menu-alt-1-svgrepo-com.svg' %}" alt="icono" class="svg__icon" id="btn_open">
        </div>

        <div class="search__box">
            <form action="{% url 'search' %}" method="GET">
                <input type="text" name="q" class="search__input" placeholder="Buscar receta...">
                <button class="search__button" type="submit">
                    <i class="bx bx-search-alt-2"></i>
                </button>
            </form>
        </div>


        <div class="icon__login">

            <a href="#" class="login">
                <img src="{% static 'images/profile-1335-svgrepo-com.svg' %}" alt="" class="svg__icon" title="Iniciar sesion">
            </a>

        </div>
    </header>

    <div class="menu__side" id="menu_side">

        <div class="name__page">
            <a href="/inicio">
                <img src="{% static 'images/icon.png' %}" alt="icono" class="icon">
            </a>
            <h4 class="title">MRFY</h4>
        </div>

        <div class="options__menu">

            <a href="/inicio" class="select">
                <div class="option">
                    <i class='bx bx-home' title="Inicio"></i>
                    <!---<object data="{% static 'images/home-4-svgrepo-com.svg' %}" type="image/svg+xml" class="svg__icon" title="Inicio"></object>--->
                    <!---<img src="{% static 'images/home-4-svgrepo-com.svg' %}" alt="" class="svg__icon" title="Inicio">--->
                    <h4>Inicio</h4>
                </div>
            </a>

            {% if user.is_authenticated %}
            <a href="/recipeform">
            {% else %}
            <a href="/login">
            {% endif %}
                <div class="option">
                    <i class='bx bx-add-to-queue' title="Subir receta"></i>
                    <!---<img src="{% static 'images/add-ellipse-svgrepo-com.svg' %}" alt="" class="svg__icon" title="Subir receta">--->
                    <h4>Subir receta</h4>
                </div>
            </a>

            <a href="#">
                <div class="option">
                    <i class='bx bx-star' title="Favoritos"></i>
                    <!---<img src="{% static 'images/hearth-svgrepo-com.svg' %}" alt="" class="svg__icon" title="Favoritos">--->
                    <h4>Favoritos</h4>
                </div>
            </a>

            {% if user.is_authenticated %}
            <a href="/lista">
            {% else %}
            <a href="/login">
            {% endif %}
                <div class="option">
                    <i class='bx bx-cart' title="Lista de compras"></i>
                    <!---<img src="{% static 'images/shopping-cart-8-svgrepo-com.svg' %}" alt="" class="svg__icon" title="Lista de compras">--->
                    <h4>Lista de compras</h4>
                </div>
            </a>

            <a href="#">
                <div class="option">
                    <i class='bx bx-calendar' title="Recetario semanal"></i>
                    <!---<img src="{% static 'images/calendar-days-svgrepo-com.svg' %}" alt="" class="svg__icon" title="Recetario semanal">--->
                    <h4>Recetario semanal</h4>
                </div>
            </a>

            {% if user.is_authenticated %}

            <a href="/logout">
                <div class="option">
                    <i class='bx bx-log-out' title="Logout"></i>
                    <!---<img src="{% static 'images/login-svgrepo-com.svg' %}" alt="" class="svg__icon" title="Iniciar sesion">--->
                    <h4>Cerrar sesion</h4>
                </div>
            </a>

            {% else %}

            <a href="/login">
                <div class="option">
                    <i class='bx bx-log-in' title="Login"></i>
                    <!---<img src="{% static 'images/login-svgrepo-com.svg' %}" alt="" class="svg__icon" title="Iniciar sesion">--->
                    <h4>Iniciar sesion</h4>
                </div>
            </a>

            {% endif %}

        </div>

    </div>

    

    <main>
        <div class="main__container" id="recipe__settings">

            <div class="container__recipe">

                <div class="recipe__img">
                    <img src="{{ receta.Imagen.url }}">
                </div>


                <div class="recipe__information">

                    <div class="info__verificado">
                    <h1>{{ receta.Nombre }}</h1>

                    {% if receta.Verificado %}
                    <label for="verificado"><i class='bx bx-check-shield'></i>Receta verificada</label>
                    {% endif %}
                    </div>

                    <div class="interaction">
                        <button class="favorite__btn">
                            <i class='bx bxs-star' ></i> Agregar a favoritos
                        </button>
                        <form action="{% url 'add_to_shopping_list' receta.IDReceta %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="shopping-list__btn">
                                <i class='bx bx-cart'></i> Agregar a lista de compras
                            </button>
                        </form>
                        <button class="recetario__btn">
                            <i class='bx bx-calendar' ></i> Agregar a recetario semanal
                        </button>
                    </div>

                    <div class="userpub__opts">
                        {% if user.is_superuser or user.is_staff or user == receta.Autor %}
                            <form action="{% url 'editar_receta' receta.IDReceta %}" method="GET">
                                <button type="submit" class="edit__btn">
                                    <i class='bx bx-edit-alt'></i> Editar receta
                                </button>
                            </form>
                            <form action="{% url 'eliminar_publicacion' receta.IDReceta %}" method="POST">
                            {% csrf_token %}
                                <button type="submit" class="delete__btn">
                                    <i class='bx bx-trash' ></i> Eliminar publicación
                                </button>
                            </form>
                        {% endif %}

                        {% if user.is_superuser or user.is_Staff %}
                        <form action="{% url 'verificar_receta' receta.IDReceta %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="{% if receta.Verificado %}verificado{% else %}no-verificado{% endif %}">
                                {% if receta.Verificado %}
                                <i class='bx bx-x-circle' ></i>
                                    Eliminar verificado
                                {% else %}
                                <i class='bx bx-check-circle' ></i>
                                    Verificar receta
                                {% endif %}
                            </button>
                        </form>
                        {% endif %}
                    </div>

                    <hr>

                    <div class="tags">
                        {% for tag in tags %}
                            <a href="{% url 'search' %}?q={{ tag.IDTag.Nombre }}" class="tag">{{ tag.IDTag.Nombre }}</a>
                        {% endfor %}
                    </div>

                    <hr>

                    <p class="description">
                        {{ receta.Comentarios }}
                    </p>
                </div>

                <div class="recipe__prep__time">
                    <h3>Tiempo de preparación</h3>
                    <ul>
                        <li><span>Tiempo total</span>: {{ receta.TiempoPreparación }}</li>
                        <!---<li><span>Preparación</span>: 00:00</li>
                        <li><span>Cocina</span>: 00:00</li>--->
                    </ul>
                </div>

                <div class="recipe__steps">
                    <h2>Ingredientes</h2>
                    {% for ingrediente in ingredientes %}
                        <ul class="ingredients">
                                <span class="tag">{{ ingrediente.IDIngrediente.Nombre }}</span>
                                <span class="tag {% if not ingrediente.Cantidad %}hidden{% endif %}">{{ ingrediente.Cantidad }}</span>
                                <span class="tag {% if not ingrediente.Unidad %}hidden{% endif %}">{{ ingrediente.Unidad }}</span>
                        </ul>
                    {% endfor %}
                </div>

                <hr>

                <div class="recipe__steps">
                    <h2>Instrucciones</h2>
                    
                    <div class="instructions">
                        <div class="item">
                            <p><span>{{ receta.Instrucciones | safe }}</span></p>
                        </div>
                    </div>

                </div>

                <hr>

                <div class="nutrition__info">
                    <h2>Información nutrimental</h2>

                    <div class="nutrition__table">
                        <div class="item">
                            <p>Calorias</p>
                            <p class="ammount">{{ receta.Calorias }}</p>
                        </div>
                        <div class="item">
                            <p>Carbohidratos</p>
                            <p class="ammount">{{ receta.CarbHidratos }}</p>
                        </div>
                        <div class="item">
                            <p>Proteina</p>
                            <p class="ammount">{{ receta.Proteinas }}</p>
                        </div>
                        <div class="item">
                            <p>Grasa</p>
                            <p class="ammount">{{ receta.Grasas }}</p>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="author__info">
                    <a href="#" class="autor">
                    <img src="{% static 'images/user-icon.png' %}" alt="icono" class="icon">
                    <p>{{ receta.Autor.name }}</p>
                    </a>
                    <p>{{ receta.FechaCreación }}</p>
                </div>

            </div>
        </div>
    </main>
    

<script src="{% static 'js/display_menu.js' %}"></script>
    
</body>
</html>
