{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de compras</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos2.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body id="body">

    <header id="header" class="header_standard">
        <div class="icon__menu">
            <img src="{% static 'images/menu-alt-1-svgrepo-com.svg' %}" alt="icono" class="svg__icon" id="btn_open">
        </div>

        <div class="search__box">
            <form action="{% url 'search' %}" method="GET">
                <input type="text" name="q" class="search__input" placeholder="Buscar receta...">
                <button class="search__button" type="submit">
                    <i class="bx bx-search-alt-2"></i>
                </button>
            </form>
        </div>

        <div class="icon__login">

            <a href="#" class="login">
                <img src="{% static 'images/profile-1335-svgrepo-com.svg' %}" alt="" class="svg__icon" title="Iniciar sesion">
            </a>

        </div>
    </header>

    <div class="menu__side" id="menu_side">

        <div class="name__page">
            <a href="/inicio">
                <img src="{% static 'images/icon.png' %}" alt="icono" class="icon">
            </a>
            <h4 class="title">MRFY</h4>
        </div>

        <div class="options__menu">

            <a href="/inicio">
                <div class="option">
                    <i class='bx bx-home' title="Inicio"></i>
                    <!---<object data="{% static 'images/home-4-svgrepo-com.svg' %}" type="image/svg+xml" class="svg__icon" title="Inicio"></object>--->
                    <!---<img src="{% static 'images/home-4-svgrepo-com.svg' %}" alt="" class="svg__icon" title="Inicio">--->
                    <h4>Inicio</h4>
                </div>
            </a>

            {% if user.is_authenticated %}
            <a href="/recipeform">
            {% else %}
            <a href="/login">
            {% endif %}
                <div class="option">
                    <i class='bx bx-add-to-queue' title="Subir receta"></i>
                    <!---<img src="{% static 'images/add-ellipse-svgrepo-com.svg' %}" alt="" class="svg__icon" title="Subir receta">--->
                    <h4>Subir receta</h4>
                </div>
            </a>

            <a href="#">
                <div class="option">
                    <i class='bx bx-star' title="Favoritos"></i>
                    <!---<img src="{% static 'images/hearth-svgrepo-com.svg' %}" alt="" class="svg__icon" title="Favoritos">--->
                    <h4>Favoritos</h4>
                </div>
            </a>

            <a href="/lista" class="select">
                <div class="option">
                    <i class='bx bx-cart' title="Lista de compras"></i>
                    <!---<img src="{% static 'images/shopping-cart-8-svgrepo-com.svg' %}" alt="" class="svg__icon" title="Lista de compras">--->
                    <h4>Lista de compras</h4>
                </div>
            </a>

            <a href="#">
                <div class="option">
                    <i class='bx bx-calendar' title="Recetario semanal"></i>
                    <!---<img src="{% static 'images/calendar-days-svgrepo-com.svg' %}" alt="" class="svg__icon" title="Recetario semanal">--->
                    <h4>Recetario semanal</h4>
                </div>
            </a>

            {% if user.is_authenticated %}

            <a href="/logout">
                <div class="option">
                    <i class='bx bx-log-out' title="Logout"></i>
                    <!---<img src="{% static 'images/login-svgrepo-com.svg' %}" alt="" class="svg__icon" title="Iniciar sesion">--->
                    <h4>Cerrar sesion</h4>
                </div>
            </a>

            {% else %}

            <a href="/login">
                <div class="option">
                    <i class='bx bx-log-in' title="Login"></i>
                    <!---<img src="{% static 'images/login-svgrepo-com.svg' %}" alt="" class="svg__icon" title="Iniciar sesion">--->
                    <h4>Iniciar sesion</h4>
                </div>
            </a>

            {% endif %}

        </div>

    </div>

    <main>
        <div class="main__container">
            <div class="shopping-list">
                <div class="deadline">
                    <h1>Lista de Compras</h1>
                </div>

                <div class="options_shoppinglist">
                    <form action="{% url 'clear_shopping_list' %}" method="POST">
                    {% csrf_token %}
                        <button type="submit" class="clear" id="delete-list__btn">
                            <i class='bx bx-trash' ></i> Eliminar lista de compras
                        </button>
                    </form>

                <form action="{% url 'guardar_cambios_lista' %}" method="POST">

                {% csrf_token %}
                    <button type="submit" class="clear">
                        <i class='bx bx-save' ></i> Confirmar cambios
                    </button>
                </div>
                <hr>
                {% for item in items %}
                <ul>
                    <li>
                        <div class="ingredient">
                            <span class="name">{{ item.name }}</span>
                            <div class="quantity-unit">
                                <!---<span class="quantity">{{ item.quantity }}</span>--->
                                <input type="number" name="{{ item.id }}" value="{{ item.quantity }}">
                                <span class="unit {% if not item.unit %}hidden{% endif %}">{{ item.unit }}</span>
                                <button type="button" class="delete-ingredient__btn" data-id="{{ item.id }}">
                                    <i class='bx bx-x' ></i>
                                </button>
                            </div>
                        </div>
                    </li>
                    <hr>
                    {% endfor %}
                </ul>
                </form>
            </div>
        </div>
    </main>
    
    

<script src="{% static 'js/display_menu.js' %}"></script>
<script src="{% static 'js/delete_item.js' %}"></script>
    
</body>
</html>
